@import "swiper/css";
@import "swiper/css/effect-coverflow";
@import "swiper/css/pagination";

@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Quicksand:wght@300..700&family=Thasadith:ital,wght@0,400;0,700;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');

/* body {
  font-family: Cambria, "Times New Roman", serif;
  font-size: x-large;
} */

body {
  font-family: "sans" ;
  font-size: x-large;
}



@layer utilities {
  .bg-dark {
    background-color: #E6A4B4;
  }
  .bg-primary {
    background-color: #F3D7CA;
  }
  .bg-sec {
    background-color: #BB9AB1;
  }
  .bg-last {
    background-color: #FFF8E3;
  }
}
